.card-drop
     padding: 30px;
     background: #ececec;
     .droppable
        display: flex
        flex-wrap: wrap
        overflow hidden
        .droppable-item
            width 300px
            margin 20px
