.list
    width 800px
    padding: 20px
    margin: 0 auto
    .async-list
        position relative
        overflow-y: auto
        margin-top: 10px;
        .async-list-item
            margin: 10px
            height: 50px
            line-height: 50px
            text-align: center
            font-weight: bold
    .view-list-wrapper
        position relative
        .view-list
            margin-top: 10px
            position relative
            overflow-y: auto
            .continer-wrapper
                position relative
            .continer-content
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0       
                .view-list-item
                    margin: 10px
                    text-align: center
                    font-weight: bold